<%
  var depuis = Math.ceil((_.now() - new Date(user.created_at).getTime()) / 1000 / 86400 / 30);
  var langages = {};
  var projets = 0;
  var displayName;

  if (user.public_repos) {
    user.public_repos.forEach(function (repo) {
      if (repo.language) {
        langages[repo.language] = true;
        ++projets;
      }
    });
  }
  langages = Object.keys(langages);

  if (langages) { langages = langages.join(', '); }
%>
<img src="https://avatars3.githubusercontent.com/u/<%= user.id %>" alt="Avatar de <%= displayName %>" title="Avatar de <%= displayName %>">
<h3>
  <% if (user.name) {
    displayName = user.name;
  %>
    <%= user.name %> (<%= user.login %>)
  <% } else {
    displayName = user.login;
  %>
    <%= user.login %>
  <% } %>
</h3>

<!--
<% if (user.location.city) { %>
  <p>Ville: <%= user.location.city %></p>
<% } else { %>
  <p>Province: Québec</p>
<% } %>
-->

<p><%= user.location.github %></p>

<% if (user.company) { %>
  <p>Compagnie: <%= user.company %></p>
<% } %>

<% if (user.blog) { %>
  <p><a href="<%= user.blog %>">Site web</a></p>
<% } %>

<% if (user.hireable) { %>
  <p>Disponible.</p>
<% } %>

<% if (user.followers) { %>
  <p><i>Followers</i>: <%= user.followers %></p>
<% } %>

<% if (langages) { %>
  <p><%= projets %> projet<%= projets > 1 ? 's' : '' %>: <%= langages %></p>
<% } %>

<p>Source: <a href="https://github.com/<%= user.login %>">github</a> (depuis <%= depuis %> mois)</p>
